.btn-primary {
  color: #fff;
  background-color: #ffd4d4;
  border-color: #ffd4d4;
}

.bg-dark {
  background-color: #FFD4D4 !important;
}

div #timeLineTwo {
  background-image: url(../img/4982316_Freepik.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

